QPushButton {
    background-color: transparent;
    color: white;
    border: none;
}

QPushButton:hover {
    color: #cfcfcf;
    background-color: transparent;
    border: none;
}

QPushButton:pressed {
    color: #8c8c8c;
    background-color: transparent;
    border: none;
}
